header{
    width: 100%;
    height: 100%;

    position: fixed;

    top: 0;
    left: 0;

    background: rgb(56, 189, 255);
}
nav{
    width: 100%;
    height: 50px;

    background: rgb(0, 85, 255);
    position: fixed;

    top: 100px;
    left: 0;
}
article{
    background: rgb(196, 249, 255);
    position: fixed;

    top: 150px;
    left: 0;

    width: 80%;
    height: 100%;
}
aside{
    background: rgb(56, 189, 255);
    position: fixed;

    top: 150px;
    right: 0;

    width: 20%;
    height: 100%;
}
footer{
    background: rgb(0, 85, 255);
    position: fixed;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 50px;
}